<launch>

  <node name="simple_face_detector" pkg="simple_face_detection" type="detector_cv.py" output="screen">
    <param name="cascade_classifier" value="$(find simple_face_detection)/config/haarcascade_frontalface_default.xml"/>
    <param name="image_topic_input" value="/usb_cam/image_raw" />
    <param name="image_topic_output" value="/face_detection/image_raw" />
  </node>

</launch>